<header>
  <img src="images/logo.png" alt="Logotipo" />
  <div>
    <span class="material-icons" routerLink="/home">arrow_back</span>
    <p routerLink="/home">Voltar para o início</p>
  </div>
</header>

<main>
  <h1>Cadastro do<br />ponto de coleta</h1>

  <section class="upload">
    <div>
      <label for="file_upload">
        <span class="material-icons">file_upload</span>
        <input type="file" name="image" id="file_upload" />
        Imagem do estabelecimento
      </label>
    </div>
  </section>
</main>

<router-outlet />