<header>
  <img src="images/logo.png" alt="Logotipo" />
</header>

<main>
  <section>
    <h1>Seu marketplace<br />
      de coleta de resíduos.
    </h1>
    <p>
      Ajudamos pessoas a encontrarem pontos<br />
      de coleta de forma eficiente.
    </p>
    <div>
      <span class="material-icons">login</span>
      <button routerLink="/create">
        Cadastre um ponto de coleta
      </button>
    </div>

  </section>
  <aside>
    <img src="images/people.png" alt="Pessoas coletando">
  </aside>
</main>

<router-outlet />