:root {
    --green: '#2FB86E';
    --greenpeace: '#34CB79';
    --desaturated: '#E1FAEC';
    --title: '#322153';
    --text: '#6C6C80';
    --suporttext: '';
    --block: '#FFFFFF';
    --background: '#F0F0F5';
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('assets/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}